$white: #fff;
$eggshell: #fbf9f0;
$simple: #E8E8E8;
$special: #74C773;
$heroic: #3DA4CF;
$legendary: #8C8CEA;
$mythic: #85DDC9;
$familiar: #85877C;
$dark-grey: #2b2b2b;
$gold: #D3B326;
$dark-blue: #2c3c89;
$red: #FB5A62;

body {
    font-family: sans-serif;
}

.simple {
    background-color: $simple;
    color: $dark-grey;
}
.special {
    background-color: $special;
    color: $white;
}
.heroic {
    background-color: $heroic;
    color: $white;
}
.legendary {
    background-color: $legendary;
    color: $white;
}
.mythic {
    background-color: $mythic;
    color: $white;
}
.familiars {
    background-color: $familiar;
    color: $white;
}

.button {
    border: none;
    margin: .2em;
    padding: .6em 1em;

    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.spacer {
    margin-top: .4em;
}



