$serif: 'adobe-caslon-pro', serif;
$sans-serif: 'soleil', sans-serif;
$screen-medium: 1024px;
$screen-small: 768px;

$dark-blue: #577b90;
$yellow: #e9ac00;
$grey: #333;

body {
    margin: 0em;
    padding: 0em;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    @media only screen and (max-width : $screen-small) {
        margin-top: 4em;
    }

    .page-body {
        width: 60%;
        text-align: left;
        margin-bottom: 5em;

        &.small {
            width: 45%;
        }

        @media only screen and (max-width : $screen-small) {
            width: 100%;

            &.small {
                width: 90%;
            }
        }

        ul {
            list-style: none;
            padding-left: 0em;
        }

        a {
            text-decoration: none;

            &:visited {
                text-decoration: none;
            }
        }
    }
}

.content {
    h2 {
        font-family: $sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        color: #e9ac00;
        margin: .4em 0em .1em 0em;

        @media only screen and (max-width : $screen-small) {
            font-size: 2.2rem;
        }
    }

    h3 {
        font-family: $sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        color: #000;
        margin: .2em 0em;

        @media only screen and (max-width : $screen-small) {

        }
    }

    h4 {
        font-family: $sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #999;
        margin: 0em 0em .6em 0em;

        @media only screen and (max-width : $screen-small) {
            font-size: 1.25rem;
        }
    }

    h5 {
        font-family: $sans-serif;
        font-size: 1.35rem;
        margin: 1.2em 0em .6em 0em;

        @media only screen and (max-width : $screen-small) {
            font-size: 1.1rem;
        }
    }

    p {
        white-space: pre-wrap;
        font-family: $serif;
        font-size: 1.25rem;
        margin: .2em 0em;

        @media only screen and (max-width : $screen-small) {
            font-size: 1rem;
        }
    }
}

